/venv
/data

**/__pycache__
__pycache__/**
*.py[cod]

projetto/**/migrations/
projetto/**/__pycache__
projetto/media/**
projetto/static/**
projetto/db.sqlite3
projetto/logs/**

.env

*.pyc
*.log
*.pot
*.cpython-311.pyc
*.cpython-38.pyc

twilio_test.py
freedom_test.py
test.py
pdf_utility.py
pdf_utility_async.py
destination.pdf
destination2.pdf

.vscode/
